#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build
	make -C doc man

override_dh_auto_install:
	python setup.py install --force --root=debian/hpcstats --no-compile -O0 --install-layout=deb


clean:
	dh $@
	rm -rf *.egg-info
